<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>{{user.username}}'s cookbook</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
      <p>Avatar: <img src="{{user.avatar}}"/></p>
      Recipes:
      <ul id = "recipesList" class="recipesList">
        {{#each user.recipes}}
          <a href="/recipe/{{@key}}"><li id={{url}} >{{title}}</li></a>
        {{/each}}
      </ul>
      <div class="panel-body">
        <form action="/newRecipe" method="post">
          <label for="recipeUri">Add a new recipe: </label>
          <input type="text" id="recipeUri" name="recipeUri" class="form-control" placeholder="Enter the recipe's URI" />
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
        <button id="edit" class="btn btn-primary" onclick="edit()" type="button">Edit</button>
        <button id="save" class="btn btn-primary" onclick="save()" type="button" style="display:none;">Save</button>
        <h2 id="title">{{recipe.title}}</h2>
        <div id="content" class="click2edit">{{{recipe.content}}}</div>
        <div id="id">{{id}}</div>
    </div>
  </div>

{{else}}
  <div class="jumbotron">
    <h1>Cookbook</h1>
    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
    </p>
  </div>

{{/if}}

<!-- include summernote css/js-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
