<!-- views/home.handlebars -->
<div class="jumbotron">
  <h1>
    <a class="header" href="/user/{{owner.username}}">
      <div>
        <img class="main-avatar" src="{{owner.avatar}}"/>
        {{owner.username}}'s cookbook
      </div>
    </a>
  </h1>
</div>

<div class="row management-row">
  <div class="col-xs-3">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{#if tag}}
          <strong>{{tag}}</strong>
        {{else}}
          Choose a tag
        {{/if}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="/user/{{owner.username}}">All</a></li>
        <li role="separator" class="divider"></li>
        {{#getTags owner.recipes owner.username}}
          <!--tags-->
        {{/getTags}}
      </ul>
    </div>
  </div>
  {{#ifLoggedUser user.username owner.username}}
  <div class="col-xs-9">
      <form action="/newRecipe" class="form-inline new-recipe-form" method="post">
        <div class="input-group">
          <input type="text" id="recipeUri" name="recipeUri" class="form-control" placeholder="Enter the recipe's URI"/>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Add</button>
          </span>
        </div>
        <div class="input-group">
          <a class="btn btn-primary" href="/createRecipe">Add a recipe manually</a>
        </div>
      </form>
  </div>
  {{/ifLoggedUser}}
</div>
<div id="recipesList" class="recipesList row">
  {{#each owner.recipes}}
    {{#tagFilter this ../tag}}
    <div class="col-sm-4">
      <a id="{{url}}" href="/user/{{../../owner.username}}/recipe/{{@key}}">
        <div style="background-image: url('{{lead_image_url}}');">
          <div>{{title}}</div>
        </div>
      </a>
    </div>
    {{/tagFilter}}
  {{/each}}
</div>
