<!-- views/home.handlebars -->
<div class="jumbotron">
<h1><a href="/">{{owner.username}}'s cookbook</a></h1>
</div>

<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">Profile Information</h3>
</div>
<div class="panel-body">
  <p>Username: {{owner.username}}</p>
  <p>Avatar: <img src="{{owner.avatar}}"/></p>
  Recipes:
  <div id="recipesList" class="recipesList row">
    {{#each owner.recipes}}
      <div class="col-sm-4">
        <a id="{{url}}" href="/user/{{../owner.username}}/recipe/{{@key}}">
          <div style="background-image: url('{{lead_image_url}}');">
            <div>{{title}}</div>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
{{#ifLoggedUser user.username owner.username}}
  <div class="panel-body">
    <form action="/newRecipe" method="post">
        <label for="recipeUri">Add a new recipe: </label>
        <input type="text" id="recipeUri" name="recipeUri" class="form-control" placeholder="Enter the recipe's URI" />
          <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <a class="btn btn-primary" href="/createRecipe">Add a recipe manually</a>
  </div>
{{/ifLoggedUser}}
</div>
</div>
